<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="imu_length" value="0.01" />
    <xacro:property name="imu_width" value="0.01" />
    <xacro:property name="imu_height" value="0.001" />

    <link name="imu_link">
        <visual>
            <geometry>
                <box size="${imu_length} ${imu_width} ${imu_height}" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="grey" />
        </visual>
        <collision>
            <geometry>
                <box size="${imu_length} ${imu_width} ${imu_height}" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>
        <xacro:box_inertia Mass="0.01" x="${imu_length}" y="${imu_width}" z="${imu_height}" arr_xyz="0 0 0" arr_rpy="0 0 0"/>
    </link>

    <joint name="base_imu_joint" type="fixed">
        <parent link="base_link" />
        <child link="imu_link" />
        <origin xyz="0 0 ${0.2 + (imu_height) / 2.0}" rpy="0 0 0" />
    </joint>

</robot>
